body{
    font-family:'Lexend', sans-serif;
    display: flex;
    background: #2A7B9B;
    background: linear-gradient(0deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(255, 247, 247, 1) 100%);
    background-attachment: fixed;
}
.cityContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
    width: 50%;
    height: 80vh;
    z-index: 1;
    background:rgb(240,248,255,0.5);
    color: black;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    font-size: 40px;
}
.textContainer{
    display: flex;
    align-items: flex-start;
    position:relative;
    flex-direction: column;
    transform: translateY(5%);
    left: 0%;
}
.weatherImage{
    padding: 0px;
    transform: translateY(-5%);
}
.myText{
    display: absolute;
    margin-top:10px;
    margin-bottom: 10px;
}
.temperatureContainer, .windContainer {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
}