body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 50px;
    background: linear-gradient(0deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(255, 247, 247, 1) 100%);
    background-attachment: fixed;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top:50px;
    max-width: 300px;
    transform:translateY(-200%);
}
.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.input{
    font-family: 'Lexend', sans-serif;
    padding: 12px;
    border: 2px solid #e0e0e0;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color:#333333;
    width:250px;
}
.input:focus{
    border-color: #009578;
}
.searchButton {
    font-family: 'Lexend', sans-serif;
    display: inline-block;
    margin: 0 auto;
	background-color:#009578;
    color:#e0e0e0;
	border-radius:28px;
	border:7px solid #009578;
	cursor:pointer;
	text-decoration:none;
}
.searchButton:hover {
    border:7px solid #026b56;
	background-color:#026b56;
}