{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class = "cityContainer">
        Gliwice
    </div>

    <div class = "cityContainer">
        Hamburg
    </div>
    
    <script src="{% static 'js/getDeafultCities.js' %}">
    document.addEventListener('DOMContentLoaded', function() {
        loadTemperature();
    });
</script>
</body>